<script>
	$(function () {

		$("#flGeneroLiterario").kendoDropDownList({
			optionLabel: "Selecione um genero...",
			dataSource: [
				{ name: "Ficcao" },
				{ name: "Filosofia" },
				{ name: "Drama" },
				{ name: "Aventura" }
			],
			dataTextField: "name",
			dataValueField: "name"
		})

		$("#dsNumeroPaginas").kendoNumericTextBox({
			min: '0'
		})

		$("#dtPublicacao").kendoDatePicker()

		$("#frmCadastroLivro #BarAcoes").kendoToolBar({
			items: [
				{ type: "spacer" },
				{
					type: "buttonGroup", buttons: [
						{
							id: "BtnGravar",
							spriteCssClass: "k-pg-icon k-i-l1-c5",
							text: "Gravar",
							group: "actions",
							attributes: { tabindex: "30" },
							click: function () {
								if ($("#idLivro").val() == "") {
									var ultimoID = parseInt(localStorage.getItem("ultimoID") || 0)
									const livros = JSON.parse(localStorage.getItem("livros")) || []
									ultimoID++;

									livros.push({
										idlivro: ultimoID,
										dstitulo: $("#dsTitulo").val(),
										dsautor: $("#dsAutor").val(),
										flgeneroliterario: $("#flGeneroLiterario").val(),
										dsnumeropaginas: parseInt($("#dsNumeroPaginas").val()),
										dtpublicacao: $("#dtPublicacao").val(),
										fldisponivel: $("#flDisponivel").val() == "on" ? "S" : "N"
									})

									console.log("cadastrando", livros)
									localStorage.setItem("livros", JSON.stringify(livros))
									localStorage.setItem("ultimoID", ultimoID)

									$("#GrdConsultaLivro").data("kendoGrid").dataSource.read();
									$("#WinCadastroLivro").data("kendoWindow").close();
								}
							}
						},
						{
							id: "BtnFechar",
							spriteCssClass: "k-pg-icon k-i-l1-c4",
							text: "Fechar",
							group: "actions",
							attributes: { tabindex: "31" },
							click: function () {
								$("#WinCadastroLivro").data("kendoWindow").close();
							}
						}
					]
				}
			]
		})


		$("#WinCadastroLivro").data("kendoWindow").center().open()
	})
</script>

<div class="k-form">
	<form id="frmCadastroLivro">
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Id:</td>
				<td>
					<input type="text" id="idLivro" name="idLivro" class="k-textbox k-input-disabled"
						readonly="readonly" style="width: 80px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Titulo:</td>
				<td>
					<input type="text" id="dsTitulo" name="dsTitulo" class="k-textbox" style="width: 600px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Autor:</td>
				<td>
					<input type="text" id="dsAutor" name="dsAutor" class="k-textbox" style="width: 600px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Genero Literario:</td>
				<td>
					<input id="flGeneroLiterario" name="flGeneroLiterario" style="width: 250px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Numero de paginas:</td>
				<td>
					<input id="dsNumeroPaginas" name="dsNumeroPaginas" style="width: 80px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Data de Publicacao:</td>
				<td>
					<input id="dtPublicacao" name="dtPublicacao" style="width: 250px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td>
					<input type="checkbox" id="flDisponivel" name="flDisponivel" class="k-checkbox"
						style="margin-left: 120px;">
					<label for="flDisponivel" class="k-label-checkbox">Disponivel</label>
				</td>
			</tr>
		</table>

		<div id="BarAcoes"></div>
	</form>
</div>