<script>
	$(function () {
		kendo.culture("pt-BR");

		$("#flGeneroLiterario").kendoDropDownList({
			optionLabel: "Selecione um genero...",
			dataSource: [
				{ name: "Ficcao" },
				{ name: "Filosofia" },
				{ name: "Drama" },
				{ name: "Aventura" }
			],
			dataTextField: "name",
			dataValueField: "name"
		})

		$("#dsNumeroPaginas").kendoNumericTextBox({
			min: '0',
			format: "n0",
			decimals: 0,
		})

		$("#dtPublicacao").kendoDatePicker()

		$("#frmCadastroLivro #BarAcoes").kendoToolBar({
			items: [
				{ type: "spacer" },
				{
					type: "buttonGroup", buttons: [
						{
							id: "BtnGravar",
							spriteCssClass: "k-pg-icon k-i-l1-c5",
							text: "Gravar",
							group: "actions",
							attributes: { tabindex: "30" },
							click: function () {
								var mensagens = ""
								if ($("#frmCadastroLivro #dsTitulo").val() == "") {
									mensagens += "<li>O campo <strong>titulo</strong> e obrigatorio</li>"
								}

								if ($("#frmCadastroLivro #dsAutor").val() == "") {
									mensagens += "<li>O campo <strong>autor</strong> e obrigatorio</li>"
								}

								if ($("#frmCadastroLivro #flGeneroLiterario").data("kendoDropDownList").value() == "") {
									mensagens += "<li>Voce deve selecionar um <strong>genero literario</strong></li>"
								}

								if ($("#frmCadastroLivro #dtPublicacao").data("kendoDatePicker").value() == null) {
									mensagens += "<li>Voce deve informar a <strong>data de publicacao</strong></li>"
								}

								if (mensagens) {
									console.log(mensagens)
									Message('dlg', 'A', mensagens)
								} else {

									if ($("#frmCadastroLivro #idLivro").val() == "") {
										const livros = JSON.parse(localStorage.getItem("livros")) || []
										const novoTitulo = $("#frmCadastroLivro #dsTitulo").val().trim().toLowerCase();

										const existe = livros.some(l =>
											l.dstitulo.trim().toLowerCase() === novoTitulo
										);

										if (existe) {
											Message('dlg', 'A', 'Esse livro ja esta cadastrado');

										} else {

											var ultimoID = parseInt(localStorage.getItem("ultimoID") || 0)
											const livros = JSON.parse(localStorage.getItem("livros")) || []
											ultimoID++;

											livros.push({
												idlivro: ultimoID,
												dstitulo: $("#frmCadastroLivro #dsTitulo").val(),
												dsautor: $("#frmCadastroLivro #dsAutor").val(),
												flgeneroliterario: $("#frmCadastroLivro #flGeneroLiterario").val(),
												dsnumeropaginas: parseInt($("#frmCadastroLivro #dsNumeroPaginas").val()),
												dtpublicacao: $("#frmCadastroLivro #dtPublicacao").val(),
												fldisponivel: $("#flDisponivel").is(":checked") ? "S" : "N"
											})

											console.log("Cadastrando", livros)
											localStorage.setItem("livros", JSON.stringify(livros))
											localStorage.setItem("ultimoID", ultimoID)

											$("#frmConsultaLivro #GrdConsultaLivro").data("kendoGrid").dataSource.read();
											$("#WinCadastroLivro").data("kendoWindow").close();

											Message('ntf', 'S', "Livro incluido com sucesso")
										}
									} else {

										var grid = $("#frmConsultaLivro #GrdConsultaLivro").data("kendoGrid")
										var campoSelecionado = grid.dataItem(grid.select())

										const livros = JSON.parse(localStorage.getItem("livros")) || []
										const index = livros.findIndex((a) => a.idlivro == campoSelecionado.idlivro)

										console.log(index)

										livros[index] = {
											idlivro: livros[index].idlivro,
											dstitulo: $("#frmCadastroLivro #dsTitulo").val(),
											dsautor: $("#frmCadastroLivro #dsAutor").val(),
											flgeneroliterario: $("#frmCadastroLivro #flGeneroLiterario").val(),
											dsnumeropaginas: parseInt($("#frmCadastroLivro #dsNumeroPaginas").val()),
											dtpublicacao: $("#frmCadastroLivro #dtPublicacao").val(),
											fldisponivel: $("#flDisponivel").is(":checked") ? "S" : "N"
										}

										console.log("Editando ", livros)

										localStorage.setItem("livros", JSON.stringify(livros))
										grid.dataSource.read();
										$("#WinCadastroLivro").data("kendoWindow").close();
										Message('ntf', 'S', "Livro editado com sucesso")
									}
								}
							}
						},
						{
							id: "BtnFechar",
							spriteCssClass: "k-pg-icon k-i-l1-c4",
							text: "Fechar",
							group: "actions",
							attributes: { tabindex: "31" },
							click: function () {
								$("#WinCadastroLivro").data("kendoWindow").close();
							}
						}
					]
				}
			]
		})

		if ($("#frmConsultaLivro #idLivro").val() != "") {
			var grid = $("#frmConsultaLivro #GrdConsultaLivro").data("kendoGrid")
			var campoSelecionado = grid.dataItem(grid.select())

			$("#frmCadastroLivro #idLivro").val(campoSelecionado.idlivro)
			$("#frmCadastroLivro #dsTitulo").val(campoSelecionado.dstitulo)
			$("#frmCadastroLivro #dsAutor").val(campoSelecionado.dsautor)
			$("#frmCadastroLivro #flGeneroLiterario").data("kendoDropDownList").value(campoSelecionado.flgeneroliterario)
			$("#frmCadastroLivro #dsNumeroPaginas").data("kendoNumericTextBox").value(campoSelecionado.dsnumeropaginas)
			$("#frmCadastroLivro #dtPublicacao").data("kendoDatePicker").value(campoSelecionado.dtpublicacao)
			if (campoSelecionado.fldisponivel == "S") {
				$("#flDisponivel").prop("checked", true)
			}
		}

		$("#WinCadastroLivro").data("kendoWindow").center().open()
	})
</script>

<div class="k-form">
	<form id="frmCadastroLivro">
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Id:</td>
				<td>
					<input type="text" id="idLivro" name="idLivro" class="k-textbox k-input-disabled"
						readonly="readonly" style="width: 80px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Titulo:</td>
				<td>
					<input type="text" id="dsTitulo" name="dsTitulo" class="k-textbox" style="width: 600px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Autor:</td>
				<td>
					<input type="text" id="dsAutor" name="dsAutor" class="k-textbox" style="width: 600px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Genero Literario:</td>
				<td>
					<input id="flGeneroLiterario" name="flGeneroLiterario" style="width: 250px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Numero de paginas:</td>
				<td>
					<input id="dsNumeroPaginas" name="dsNumeroPaginas" style="width: 80px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td style="text-align: right; width: 120px;">Data de Publicacao:</td>
				<td>
					<input id="dtPublicacao" name="dtPublicacao" style="width: 250px;">
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
			<tr>
				<td>
					<input type="checkbox" id="flDisponivel" name="flDisponivel" class="k-checkbox"
						style="margin-left: 120px;">
					<label for="flDisponivel" class="k-label-checkbox">Disponivel</label>
				</td>
			</tr>
		</table>

		<div id="BarAcoes"></div>

		<div id="popNotificacao">
			<ul></ul>
		</div>
	</form>
</div>